.card{
    width: 100% !important;
    max-width: 500px !important;
    margin-top: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.h1{
    margin-top: 20px !important;
    text-align: center;
}

form > div{
    margin-top: 20px !important;
}

.form-control{
    height: 50px !important;
}

.checkbox{
    height: 50px !important;
}

.btn-primary{
    height: 50px !important;
    width: 250px !important;
    font-size: 1.1rem !important;
    
}

.col-md-12{
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}